.character-card {
    text-align: center;
    cursor: pointer;
    width: 800px;
    height: 800px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;

    &:hover {
        border: 1px solid rgba(#656262, 0.1);
    }
}

.character-card__name {
    background-color: #0a0a0ab8;
    padding: 1rem;
}
