.character-card {
    text-align: center;
    cursor: pointer;
    flex-shrink: 0;
}

.character-card__image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    width: 100%;
    padding-bottom: 100%;
}

.character-card__name {
    background-color: #0a0a0ab8;
    padding: 1rem;
}
