.page-header {
    text-align: center;
    padding: 50px 0;
}

.page-footer {
    // position: fixed;
    bottom: 0;
    background-color: #dcd9d9;
    color: #282c34;
    width: 100%;
    padding: 1rem;
    margin: 0;
}

.pagination {
    flex-direction: row;
    justify-content: center;

    li {
        padding: 0px 8px;
    }

    a {
        color: #fff;

        &.active {
            color: #007bff;
        }
    }
}
